<div class="container">
  <div class="row content">
    <div class="col-12 d-flex justify-content-center flex-column">
      <h2 class="title">Formular absenden</h2>
      <div class="form">
        <form #confirmationForm="ngForm" (change)="validate()">
          <div class="form-group">
            <label for="comment">Gibt es sonst noch etwas, das Sie uns mitteilen möchten?</label>
            <textarea placeholder="Optional (zusätzliche Infos, muss der Teppich z.B. repariert werden?)" [(ngModel)]="d.comment" (change)="validate()" class="form-control" id="comment" rows="3" name="comment" #comment="ngModel"></textarea>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="privacy" [(ngModel)]="privacy" name="inputPrivacy" #inputPrivacy="ngModel" (change)="validate()" required>
            <label class="form-check-label" for="privacy">
              Ich habe die <a href="https://jl-clean.de/Datenschutz/" target="_blank">Datenschutzbestimmungen</a> gelesen und bin damit einverstanden, dass meine persönlichen Daten zu den Zwecken, in dem Umfang und für die Dauer die in der Datenschutzerklärung erläutert wurden, verarbeitet und gespeichert werden.
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
