<div class="container">
  <div class="row content">
    <div class="col-12 d-flex justify-content-center flex-column">
      <h2 class="title">Wo soll der Teppich abgeholt werden?</h2>
      <div class="form">
        <form>
          <input id="typeahead-basic" type="text" class="form-control" placeholder="Postleitzahl" [(ngModel)]="d.zip" name="zip" #name="ngModel"
                 [ngbTypeahead]="search" (selectItem)="d.zip = $event.item; validate()" (change)="validate(); resetSavedSelections();" (keyup)="validate()" minLength="5" maxLength="5"/>
        </form>
      </div>
    </div>
  </div>
</div>
