<div class="container">
  <div class="row content">
    <div class="col-12 d-flex justify-content-center align-items-center flex-column text-center">
      <img class="mt-5" src="/assets/icons/check.svg">
      <h4 class="mt-4">Vielen Dank für Ihre Anfrage.</h4>
      <h4 class="mt-4">Unser Team meldet sich mit einer Bestätigung per E-Mail in Kürze bei Ihnen. </h4>
    </div>
  </div>
</div>

<div class="controls custom-controls">
  <a href="https://jl-clean.de/" class="btn btn-primary">Schließen</a>
</div>
