<div class="container" *ngIf="tour">
  <div class="row content">
    <div class="col-12 d-flex justify-content-center flex-column">
      <div [ngSwitch]="tour.dates.length">
        <h2 class="title">Abholtermin aus Tourdaten auswählen:</h2>
      </div>
      <div class="form">
        <div class="selections">
          <label class="date item radio mb-0" *ngFor="let date of this.futureDates; let i = index">
            <input type="radio" [value]="futureDatesJson[i]" name="date" [(ngModel)]="d.pickupDateJson" (change)="validate()"> {{date.text}}
          </label>
        </div>
        <p class="mt-3 text-left">Sondertour bei Notfall gegen Aufpreis möglich - bitte anfragen unter kontakt@jl-clean.de</p>
        <p class="mt-5 text-center"><small><a [routerLink]="'/pickup/help'">Mir passt kein aufgeführter Termin.</a></small></p>
      </div>
    </div>
  </div>
</div>
