<div class="container">
  <div class="row content pb-0">
    <div class="col-12 d-flex justify-content-center flex-column">
      <div>
        <h2 class="title mb-2 mb-md-4">
          Vorkalkulation Ihrer Polsterreinigung:
        </h2>
        <p class="text-center my-0 my-md-3" style="color: #b12704;">
          <strong>Aktion: -10% bei Terminvereinbarung online</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<jl-clean-calculator
  [source]="sourceApp"
  [partnerName]="partnerName | async"
  (newItemEvent)="saveCalculatorOutput($event)"
></jl-clean-calculator>
