@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Source+Sans+Pro');

*, a {
  -webkit-tap-highlight-color: transparent;
  outline: none!important;
}

html, body {
  background-color: $background;
}

h1, h2, button {
  font-family: 'Nunito Sans', sans-serif;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  text-align: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 45px;
}

.subtitle {
  text-align: center;
  width: 100%;
  margin-top: -25px;
  margin-bottom: 45px;
}

.content {
  padding: 20px 15px;
  padding-bottom: 102px;
}

.btn:focus, input {
  outline: none;
  box-shadow: none!important;
}

.selections {
  background-color: #fff;

  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  .item {
    padding: 10px 10px;
    border-bottom: 1px solid $border-color;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-touched.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

input[type=radio] {
  margin-right: 7px;
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 5px;

  background-color: #fff;
  border-top: 2px solid $border-color;

  .btn {
    padding: 12px 37px;
  }
}

.controls.custom-controls {
  z-index: 100;
}


small a {
  color: $text;
  text-decoration: underline;
  opacity: 0.9;
}
