<div class="container">
  <div class="row content">
    <div class="col-12 d-flex justify-content-center align-items-center flex-column text-center">
      <img class="mt-5" src="/assets/icons/check.svg">
      <h4 class="mt-4">Vielen Dank für Ihre Anfrage.</h4>
      <h4 class="mt-4">
        Sie erhalten in Kürze eine Abhol-Bestätigung per Mail.
        Bitte überprüfen Sie auch Ihren SPAM-Ordner!
      </h4>
    </div>
  </div>
</div>

<div class="controls custom-controls">
  <p class="mb-0">Sie können das Fenster jetzt schließen.</p>
  <!--<a href="https://jl-clean.de/" class="btn btn-primary">Schließen</a>-->
</div>
